<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <!-- Inicio -->
  <button onclick="finMe()">Mostrar ubicación</button>
  <div id="map"></div>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg9t8NxXPub-UxmbZZsv0qlUV3-aGqghc&callback=initMap"
  type="text/javascript"></script>

  <script src="../js/inicio.js"></script>
</body>

</html>